{% if not request.is_xhr %}{% extends "columns:templates/blog/main.jinja" %}{% endif %}

{% block content %}
<article class="story-container hentry">
	<h2 class="story-title entry-title">
		<a href="{{ 'blog_story'|route_url(permalink=story.permalink) }}" rel="bookmark">{{ story.title }}</a>
	</h2>
	</div>
	<div class="story-user author">
		by {{ story.author['name'] }}
	</div>
	<div class="story-date published">
		<abbr title="{{ story.published|rfc3339 }}" class="date-container">
			{{ story.published }}
		</abbr>
	</div>
	{#% if story|story_url('edit') is allowed %}
	<div class="story-edit">
		<a href="{{ url('edit_article', id=story.id) }}" title="Edit Article {{ story.id }}">Edit Article</a>
	</div>
	{% endif %#}
	<div class="story-content entry-content">
		{{ story.content|safe }}
	</div>
	<div class="story-tags">
		<h3>Tags:</h3>
		{% if story.tags|length > 0 %}
		<ul class="story-tags-list">
			{% for tag in story.tags %}
			<li class="story-tags-item">
				{{ tag.label }}
				{#<a href="{{ url("tag_feed", name=tag.id) }}" title="View articles with tag {{ tag.label }}" rel="tag">{{ tag.label }}</a>#}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</article>
{% endblock %}
{% block title %}
{{ story.title }}
{% endblock %}
{% block more_metadata %}	
{{ super() }}
<meta name="DC.publisher" content="{{ app_settings('site_name') }}" />
<meta name="DC.title" content="{{ story.title }}" />
<meta name="DC.creator.name" content="{{ story.author['name'] }}" />
<meta name="DC.creator" content="{{ story.author['name'] }}" />
<meta name="DC.rights.rightsHolder" content="{{ app_settings('site_name') }}" />
<meta name="DC.language" content="en-US" scheme="rfc1766" />
{% if story.tags|length > 0 %}{% for tg in story.tags %}
<meta name="DC.subject" content="{{ tg.label }}" />
{% endfor %}{% endif %}
<meta name="DC.rights.license" content="http://creativecommons.org/licenses/by-sa/3.0/" />
<meta name="DC.license" content="http://creativecommons.org/licenses/by-sa/3.0/" />

<meta name="title" content="{{ story.title }}"/>
<meta name="description" content="{{ story.metacontent | truncate(length=1000, killwords=False, end='...') }}"/>
{% if story.tags|length > 0 %}
<meta name="keywords" content="{{ story.tags | join(', ', attribute='label') }}"/>
{% endif %}
{#
<link rel="pingback" href="{{ url('pingback', qualified=True) }}"/>
<link rel="canonical" href="{{ url('story', permalink=story.permalink, qualified=True) }}"/>
<meta name="DC.publisher.url" content="{{ url('main',qualified=True) }}" />
<meta name="DC.identifier" content="{{ url('story', permalink=story.permalink, qualified=True) }}" />
<meta name="DC.date.created" scheme="WTN8601" content="{{ story.created|localized_datetime_format }}" />
<meta name="DC.created" scheme="WTN8601" content="{{ story.created|localized_datetime_format }}" />
<meta name="DC.date" scheme="WTN8601" content="{{ story.updated|localized_datetime_format }}" />
#}
{% endblock %}
{% block on_ready %}
$(".date-container").html(function(idx, txt){
	var dt = new Date(txt);
	return dt.toLocaleDateString() +" "+ dt.toLocaleTimeString();
});
{% endblock %}

