{% if not request.is_xhr %}{% extends "columns:templates/blog/ndbp.jinja" %}{% endif %}

{% block content %}
<article class="story-container hentry">
	<h2 class="story-title entry-title">
		<a href="{{ 'blog_story'|route_url(permalink=story.permalink) }}" rel="bookmark">{{ story.title }}</a>
	</h2>
	</div>
	<div class="story-user author">
		by {{ story.author['name'] }}
	</div>
	<div class="story-date published">
		<abbr title="{{ story.published|rfc3339 }}" class="date-container">
			{{ story.published|rfc3339 }}
		</abbr>
	</div>
	{#% if story|story_url('edit') is allowed %}
	<div class="story-edit">
		<a href="{{ url('edit_article', id=story.id) }}" title="Edit Article {{ story.id }}">Edit Article</a>
	</div>
	{% endif %#}
	<div class="story-content entry-content">
		{{ story.content|safe }}
	</div>
	<div class="story-tags">
		<h3>Tags:</h3>
		{% if story.tags|length > 0 %}
		<ul class="story-tags-list">
			{% for tag in story.tags %}
			<li class="story-tags-item">
				<a href="{{ 'blog_main'|route_url(_query={'tag':tag.slug}) }}" title="View articles with tag {{ tag.label }}" rel="tag">{{ tag.label }}</a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
	<div class="comments-container">
		<div id="disqus_thread"></div>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>	
	</div>
</article>
{% endblock %}
{% block title %}
{{ story.title }}
{% endblock %}
{% block more_metadata %}	
{{ super() }}
<meta name="DC.publisher" content="{{ app_settings('site_name') }}" />
<meta name="DC.title" content="{{ story.title }}" />
<meta name="DC.creator.name" content="{{ story.author['name'] }}" />
<meta name="DC.creator" content="{{ story.author['name'] }}" />
<meta name="DC.rights.rightsHolder" content="{{ app_settings('site_name') }}" />
<meta name="DC.language" content="en-US" scheme="rfc1766" />
{% if story.tags|length > 0 %}{% for tg in story.tags %}
<meta name="DC.subject" content="{{ tg.label }}" />
{% endfor %}{% endif %}
<meta name="DC.rights.license" content="http://creativecommons.org/licenses/by-sa/3.0/" />
<meta name="DC.license" content="http://creativecommons.org/licenses/by-sa/3.0/" />

<meta name="title" content="{{ story.title }}"/>
<meta name="description" content="{{ story.metacontent | truncate(length=1000, killwords=False, end='...') }}"/>
{% if story.tags|length > 0 %}
<meta name="keywords" content="{{ story.tags | join(', ', attribute='label') }}"/>
{% endif %}
{#
<link rel="pingback" href="{{ url('pingback', qualified=True) }}"/>
<link rel="canonical" href="{{ url('story', permalink=story.permalink, qualified=True) }}"/>
<meta name="DC.publisher.url" content="{{ url('main',qualified=True) }}" />
<meta name="DC.identifier" content="{{ url('story', permalink=story.permalink, qualified=True) }}" />
<meta name="DC.date.created" scheme="WTN8601" content="{{ story.created|localized_datetime_format }}" />
<meta name="DC.created" scheme="WTN8601" content="{{ story.created|localized_datetime_format }}" />
<meta name="DC.date" scheme="WTN8601" content="{{ story.updated|localized_datetime_format }}" />
#}
{% endblock %}
{% block on_ready %}
{{ super() }}
$(".date-container").html(function(idx, txt){
	return moment(txt, 'YYYY-MM-DDTHH:mm:sszz').format("LLLL");
});
disqus_shortname = 'nerdblerp';
disqus_identifier = '{{story.permalink}}';
disqus_url = '{{ 'blog_story'|route_url(permalink=story.permalink) }}';
$.getScript('http://nerdblerp.disqus.com/embed.js');
{% endblock %}

