{% if not request.is_xhr %}{% extends "columns:templates/admin.jinja" %}{% endif %}

{% block content %}
<div class="story-container hentry">
	<div class="story-title entry-title">
		<h1>
			<a href="{{ resource|resource_url }}" rel="bookmark">{{ resource.title }}</a>{#("story", permalink=resource.permalink, qualified=True)#}
		</h1>
	</div>
	<div class="story-user author">
		by {{ resource.author['name'] }}
	</div>
	<div class="story-date published">
		<abbr title="{{ resource.published }}">
			{{ resource.published }}
		</abbr>
	</div>
	{% if 'edit' is allowed %}
	<div class="story-edit">
		<a href="{{ resource|resource_url('edit') }}" title="Edit Article {{ resource.id }}">Edit Article</a>
	</div>
	{% endif %}
	<div class="story-content entry-content">
		{{ resource.content|safe }}
	</div>
	<div class="story-tags">
		<h3>Tags:</h3>
		{% if resource.tags|length > 0 %}
		<ul class="story-tags-list">
			{% for tag in resource.tags %}
			<li class="story-tags-item">
				{{ tag.label }}
				{#<a href="{{ url("tag_feed", name=tag.id) }}" title="View articles with tag {{ tag.label }}" rel="tag">{{ tag.label }}</a>#}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block title %}
{{ resource.title }}
{% endblock %}

{% block more_metadata %}	
{{ super() }}
<meta name="DC.publisher" content="{{ app_settings('site_name') }}" />
<meta name="DC.title" content="{{ resource.title }}" />
<meta name="DC.creator.name" content="{{ resource.author['name'] }}" />
<meta name="DC.creator" content="{{ resource.author['name'] }}" />
<meta name="DC.rights.rightsHolder" content="{{ app_settings('site_name') }}" />
<meta name="DC.language" content="en-US" scheme="rfc1766" />
{% if resource.tags|length > 0 %}{% for tg in resource.tags %}
<meta name="DC.subject" content="{{ tg.label }}" />
{% endfor %}{% endif %}
<meta name="DC.rights.license" content="http://creativecommons.org/licenses/by-sa/3.0/" />
<meta name="DC.license" content="http://creativecommons.org/licenses/by-sa/3.0/" />

<meta name="title" content="{{ resource.title }}"/>
<meta name="description" content="{{ resource.metacontent | truncate(length=1000, killwords=False, end='...') }}"/>
{% if resource.tags|length > 0 %}
<meta name="keywords" content="{{ resource.tags | join(', ', attribute='label') }}"/>
{% endif %}
{#
<link rel="pingback" href="{{ url('pingback', qualified=True) }}"/>
<link rel="canonical" href="{{ url('story', permalink=resource.permalink, qualified=True) }}"/>
<meta name="DC.publisher.url" content="{{ url('main',qualified=True) }}" />
<meta name="DC.identifier" content="{{ url('story', permalink=resource.permalink, qualified=True) }}" />
<meta name="DC.date.created" scheme="WTN8601" content="{{ resource.created|localized_datetime_format }}" />
<meta name="DC.created" scheme="WTN8601" content="{{ resource.created|localized_datetime_format }}" />
<meta name="DC.date" scheme="WTN8601" content="{{ resource.updated|localized_datetime_format }}" />
#}
{% endblock %}
