<html>
<head>
	<title>{{ app_settings('site_name') }}</title>
	<link href="{{ "stylesheets/admin.css"|static_url }}" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		function get_images(){
			var offset = parseInt($("input[name='offset']").val());
			var limit = parseInt($("input[name='limit']").val());
			$.ajax({
				type: "GET",
				url:"{{ 'browse_images_ajax'|route_url }}",
				data: "offset="+offset+"&limit="+limit,
				dataType: "json",
				beforeSend: function(){
					$("#imagelist").html("<p>Loading images...</p>");
				},
				success: function(data){
					if(offset<= 0){
						$("#prev").attr('disabled','disabled');
					}
					else{
						$("#prev").removeAttr('disabled');
					}
					var rowcount = 0;
					var el = '<div>';
					$.each(data, function(){
						if (rowcount % 5 == 0){el = el + '</div>';}
						if (rowcount % 5 == 0){el = el + '<div class="image-row">';}
						el = el+'<div class="thumb-container">';
						el = el+'<img class="thumbnail" src="'+this.filepath+'"/>';
						el = el+'<input type="radio" name="filepath" value="'+this.filepath+'"/>';
						el = el+'</div>';
						rowcount = rowcount + 1;
					});
					$("#imagelist").html(el);
				}
			});
		};
		get_images(0);
		$("#next").click(function(){
			var offset = parseInt($("input[name='offset']").val());
			$("input[name='offset']").val(offset+20);
			get_images();
		});
		$("#prev").click(function(){
			var offset = parseInt($("input[name='offset']").val());
			$("input[name='offset']").val(offset-20);
			get_images();
		});
		$("#select").click(function(){
			var url = $("input[name='filepath']:checked").val();
			var CKEditorFuncNum = $("input[name='CKEditorFuncNum']").val();
			window.opener.parent.CKEDITOR.tools.callFunction(CKEditorFuncNum, url);
			window.close();
		});
		$("form").submit(function() {return false;});
	});
	</script>
</head>
<body>
	<form id="thumb-browser">
		<fieldset>
			<input type="hidden" name="CKEditorFuncNum" id="CKEditorFuncNum" value="{{ ckedit_num }}" />
			<input type="hidden" name="offset" id="offset" value="0" />
			<input type="hidden" name="limit" id="limit" value="20" />
			<input type="hidden" name="no_update" id="no_update" value="1" />
			<input type="button" name="prev" id="prev" value="&lt;&lt;"/>
			<input type="button" name="next" id="next" value="&gt;&gt;"/>
			<div id="imagelist">
			</div>
			<input type="button" name="select" id="select" value="Select Image"/>
		</fieldset>
	</form>
</body>
</html>