{% if not request.is_xhr %}{% extends "columns:templates/admin.jinja" %}{% endif %}
{% block content %}
<div class="page-content">{{ resource.content | safe }}</div>
{% endblock %}
{% block more_metadata %}
{#{{ super() }}
<meta name="DC.title" content="{{ app_settings('site_name') }} - {{ page.title }}" />
<meta name="title" content="{{ app_settings('site_name') }} - {{ page.title }}"/>
<meta name="description" content="{{ app_settings('site_description') }}"/>
<meta name="keywords" content="{{ app_settings('site_keywords') }}"/>
#}
{% endblock %}