@charset "UTF-8";
/* See Rock City Scheme*/
/***********************/
html {
  background-color: #173f55;
  color: black;
  font-family: "Times New Roman", Times, serif; }

label {
  font-weight: bold; }

/***********************
 Base Layout CSS 
***********************/
#admin-header {
  position: relative;
  display: block;
  width: 940px;
  min-height: 40px;
  vertical-align: top;
  box-sizing: border-box;
  margin: 20px;
  border-radius: 5px;
  border-color: #c1c1c1;
  border-style: solid;
  border-width: 1px;
  box-shadow: #282425 0px 0px 5px 0px;
  background-color: #EEEEEE;
  background: -webkit-gradient(linear, left top, left bottom, from(#4c4c4e), to(#282425));
  background: -moz-linear-gradient(top, #4c4c4e, #282425);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C4C4E', endColorstr='#282425');
  text-align: center; }
  #admin-header h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    line-height: 2em; }

#admin-footer {
  position: relative;
  display: block;
  width: 940px;
  min-height: 40px;
  vertical-align: top;
  box-sizing: border-box;
  margin: 20px;
  border-radius: 5px;
  border-color: #c1c1c1;
  border-style: solid;
  border-width: 1px;
  box-shadow: #282425 0px 0px 5px 0px;
  background-color: #EEEEEE; }
  #admin-footer p {
    line-height: 2em; }

#admin-nav {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 130px;
  margin-left: 20px;
  margin-right: 15px;
  vertical-align: top;
  border-radius: 5px;
  border-color: #C1C1C1;
  border-style: solid;
  border-width: 1px;
  background-color: #EEEEEE;
  box-shadow: #282425 0px 0px 5px 0px;
  line-height: 1.5em;
  text-align: left;
  font-weight: bold;
  padding: 5px; }
  #admin-nav span, #admin-nav a {
    display: block; }

#admin-nav-top {
  height: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#4c4c4e), to(#282425));
  background: -moz-linear-gradient(top, #4c4c4e, #282425);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C4C4E', endColorstr='#282425'); }

#admin-nav-bottom {
  padding: 5px; }

#admin-content {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 20px;
  width: 790px;
  vertical-align: top;
  border-radius: 5px;
  border-color: #c1c1c1;
  border-style: solid;
  border-width: 1px;
  box-shadow: #282425 0px 0px 5px 0px;
  background-color: #EEEEEE;
  padding: 20px; }

#admin-content-top {
  height: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#4c4c4e), to(#282425));
  background: -moz-linear-gradient(top, #4c4c4e, #282425);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C4C4E', endColorstr='#282425'); }

#admin-content-bottom {
  padding: 20px; }

/***********************
 Admin Interface CSS 
***********************/
#admin-resource-list {
  text-align: left;
  width: 748px;
  table-layout: fixed;
  margin-top: 20px;
  margin-bottom: 20px; }
  #admin-resource-list th, #admin-resource-list td {
    padding: 5px;
    border-color: #C1C1C1;
    border-style: solid;
    border-width: 3px; }
  #admin-resource-list th {
    font-weight: bold;
    background: -webkit-gradient(linear, left top, left bottom, from(#4c4c4e), to(#282425));
    background: -moz-linear-gradient(top, #4c4c4e, #282425);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C4C4E', endColorstr='#282425');
    color: white; }
  #admin-resource-list .filler-cell {
    background: -webkit-gradient(linear, left top, left bottom, from(#4c4c4e), to(#282425));
    background: -moz-linear-gradient(top, #4c4c4e, #282425);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C4C4E', endColorstr='#282425');
    width: 50px; }
  #admin-resource-list tr .odd {
    background-color: inherit;
    color: inherit; }
  #admin-resource-list tr .even {
    background-color: #333333;
    color: inherit; }

#pagination {
  text-align: left;
  font-size: large;
  font-style: italic; }
  #pagination .prev-page {
    display: inline-block;
    float: left; }
  #pagination .next-page {
    display: inline-block;
    float: right; }

.new-link {
  display: inline-block; }

#save-form {
  text-align: left;
  vertical-align: bottom;
  display: block; }
  #save-form textarea {
    background-color: white;
    color: black; }
  #save-form input[type=text] {
    width: 410px; }
  #save-form textarea {
    width: 100%; }
  #save-form input[type=submit], #save-form input[type=button], #save-form button {
    padding: 5px;
    margin-top: 10px; }
  #save-form input, #save-form select, #save-form label {
    display: inline-block; }
  #save-form label {
    text-align: left;
    width: 150px; }
  #save-form fieldset {
    border: none; }
  #save-form .field-n-label {
    width: 580px;
    margin: 5px;
    line-height: 1.5em; }
  #save-form .field-n-wide-label {
    width: 580px;
    margin: 5px;
    margin-top: 15px;
    line-height: 1.5em; }
    #save-form .field-n-wide-label label {
      display: block;
      width: 580px; }
    #save-form .field-n-wide-label:first {
      margin-top: 5px; }

#delete-form input[type=submit], #delete-form input[type=button], #delete-form button {
  padding: 5px;
  margin-top: 10px; }

.form-submit-left {
  float: left;
  vertical-align: bottom;
  margin-right: 10px; }

.form-submit-right {
  float: right;
  vertical-align: bottom;
  margin-left: 10px; }

.redactor_editor {
  /*a{color:rgb(255, 90, 0);}*/ }
  .redactor_editor strong, .redactor_editor b {
    font-weight: bold; }
  .redactor_editor u {
    text-decoration: underline; }
  .redactor_editor em, .redactor_editor i {
    font-style: italic; }
  .redactor_editor ul {
    list-style-type: disc; }
  .redactor_editor ol {
    list-style-type: decimal; }
  .redactor_editor p {
    text-indent: 2em;
    margin-top: 1em;
    margin-bottom: 1em; }
  .redactor_editor h4 {
    font-weight: bold;
    font-size: 1.15em; }
  .redactor_editor blockquote {
    border: #2b77c4 solid 1px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px; }
  .redactor_editor img, .redactor_editor object {
    display: block;
    max-width: 650px; }

/***********************
 Image Browser CSS
***********************/
#thumb-browser {
  /*background-color:$background_color;color:black;*/
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 5px;
  border-color: #c1c1c1;
  border-style: solid;
  border-width: 1px;
  box-shadow: #282425 0px 0px 5px 0px;
  background-color: #EEEEEE;
  padding: 10px; }
  #thumb-browser fieldset {
    border: none; }

.thumb-container {
  outline: #2b77c4 solid 1px;
  display: inline-block;
  width: 130px;
  height: 130px;
  margin: 5px; }
  .thumb-container input {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.thumbnail {
  display: block;
  max-width: 100px;
  max-height: 100px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto; }

.error {
  font-weight: normal;
  color: red; }

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loading-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7) url("/static/transition.gif") 50% 50% no-repeat; }

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden; }

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loading-modal {
  display: block; }
