{% if not request.is_xhr %}{% extends "columns:templates/admin.jinja"%}{% endif %}
{% block content %}
<div id="login-form">
	{{ h.form('verify_openid'|route_url, method="post") }}
		<div>
			{{ h.text('openid') }}
			{{ h.submit('login', 'Login') }}
		</div>
	{{ h.end_form() }}
</div>
{% endblock %}
