{% if not request.is_xhr %}{% extends "columns:templates/admin.jinja"%}{% endif %}
{% set limit = limit|int(20) %}
{% set offset = offset|int %}
{% block content %}
{{ h.link_to("Create New", context|resource_url('new'), class="new-link") }}
<table id="admin-resource-list">
	<thead>
		<tr>
			<td class="filler-cell">&nbsp;</td>
			<th>Name</th>
			<th>Type</th>
		</tr>
	</thead>
	<tbody>
	{% for item in resources %}
	<tr class="{{ loop.cycle('odd', 'even') }}">
		<td>{{ h.link_to("Edit", item|resource_url('edit')) }}</td>
		<td>{{ item.name }}</td>
		<td>{{ h.get_permissions().get(item.type,'None') }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
<div id="pagination">
	<a href="{{ context|resource_url(query={'offset':[offset-limit,0]|maximum,'limit':limit}) }}" class="previous-page">Previous</button>
	<a href="{{ context|resource_url(query={'offset':offset+limit,'limit':limit}) }}" class="next-page">Next</button>
</div>
{% endblock %}