{# encoding: utf-8 #}
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
		<meta http-equiv="X-XRDS-Location" content="{{ 'xrds'|route_url }}"></meta>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
		<link href="{{ 'favicon.ico'|static_url }}" rel="icon" ></link>
		<link href="{{ 'stylesheets/admin.css'|static_url }}" media="screen" rel="stylesheet" type="text/css" ></link>
		<link href="{{ 'stylesheets/absolution/jquery.ui.all.css'|static_url }}" media="screen" 
		rel="stylesheet" type="text/css" ></link>
		<link href="{{ 'scripts/redactor/redactor.css'|static_url }}" rel="stylesheet" type="text/css" ></link>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/labjs/2.0.3/LAB.min.js"></script>
		<script type="text/javascript">
			$LAB
			.script('http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js')
			.script('http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js')
			.wait()
			.script('http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
			.script('http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.0/backbone-min.js')
			.script('http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js')
			.script('http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.3.0/mustache.min.js')
			.wait()
			.script('http://cachedcommons.org/cache/jquery-uniform/1.7.3/javascripts/jquery-uniform-min.js')
			.script('{{ "scripts/moment.min.js"|static_url }}')
			.script('{{ "scripts/redactor/redactor.min.js"|static_url }}')
			.wait()
			.script('{{ "scripts/articles.js"|static_url }}')
			.script('{{ "scripts/pages.js"|static_url }}')
			.script('{{ "scripts/users.js"|static_url }}')
			.script('{{ "scripts/uploads.js"|static_url }}')
			{#% if 'settings' is allowed -%}.script('{{ "scripts/settings.js"|static_url }}'){%- endif %#}
			.wait(function(){
				$(document).ready(function(){
					articles_app.initialize();
					pages_app.initialize();
					users_app.initialize();
					uploads_app.initialize();
					{#% if 'settings' is allowed -%}settings_app.initialize();{%- endif %#}
					Backbone.history.start({root: "/admin/#"});
				});
			});
		</script>
		<title>{% block title %}{{ app_settings('site_name') }}{% endblock %}</title>
	</head>
	<body>
		<header id="admin-header"><h1>{{ app_settings('site_name') }} Management</h1></header>
		<nav id="admin-nav">
			<a href="/admin/#/articles/" data-nav-name="articles" class="nav-link" title="Articles">Articles</a>
			<a href="/admin/#/pages/" data-nav-name="pages" class="nav-link" title="Pages">Pages</a>
			<a href="/admin/#/uploads/" data-nav-name="uploads" class="nav-link" title="Uploads">Uploads</a>
			<a href="/admin/#/users/" data-nav-name="users" class="nav-link" title="Users">Users</a>
			{% if 'settings' is allowed -%}
			<a href="{{ 'settings'|route_url }}" data-nav-name="settings" class="nav-link" title="Settings">Settings</a>
			{%- endif %}
			{% if logged_in() -%}<a href="{{ 'logout'|route_url }}">Logout</a>{%- endif %}
		</nav>
		<section id="admin-content">
		{% block content %}
		{% if not logged_in() %}
		<div id="login-form">
			{{ h.form('verify_openid'|route_url, method="post") }}
				<div>
					{{ h.text('openid') }}
					{{ h.submit('login', 'Login') }}
				</div>
			{{ h.end_form() }}
		</div>
		{% endif %}
		{% endblock %}
		</section>
		<footer id="admin-footer">
		{% block footer %}{% endblock %}
		</footer>
	</body>
</html>

{% macro show_flash() %}
{% set messages = h.flash.pop_messages() %}
{% if messages %}
<ul id="flash-messages">
	{% for message in messages -%}
	<li class="{{ message.type }}">{{ message }}</li>
	{%- endfor %}
</ul>
{% endif %}
{% endmacro %}
